<div class="electronics" style="margin-top:-120px">
    <div class="col-md-3 col-lg-4 product-men yes-marg" ng-repeat="product in products|filter:{name:name}|filter:min">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="{{product.img}}" alt="" class="pro-image-front" style="width:90%;height:40%">
                <img src="{{product.img}}" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">Quick View</a>
                    </div>
                </div>
                <span class="product-new-top">New</span>

            </div>
            <div class="item-info-product ">
                <h4><a>{{product.name}}</a></h4>
                <div class="info-product-price">
                    <span class="item_price">{{product.price| currency:'$'}}</span>
                    <del>{{product.price| currency:'$'}}</del>
                </div>
                <a  class="item_add single-item hvr-outline-out button2" ng-click="addToCart(product.name,product.price,product.img)">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
