<div class="modal-header bg-info">
    Modify Product
</div>
<div class="modal-body">
    <form class="well" ng-submit="updateProduct()">
        <div class="form-group">
            <label>Product Name</label>
            <input type="text" class="form-control" ng-model="selectedProduct.name" required>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" ng-model="selectedProduct.price" required>
        </div>
        <div class="form-group">
            <label>Type</label>
            <select class="form-control" ng-model="selectedProduct.type" required>
                <option value="mobiles">Mobiles</option>
                <option value="computers">Computers</option>
                <option value="tablets">Tablets</option>
                <option value="screens">Screens</option>
                <option value="cameras">Cameras</option>

            </select>
        </div>
        <div class="form-group">
            <label>Photo</label>
            <input type="file" onchange="angular.element(this).scope().changedSelectedProduct(this.files[0])">
        </div>
        <img src="{{selectedProduct.img}}" style="width: 70%;height: 50%;" class="center-block">
        <button class="btn btn-success">Update</button>
    </form>
</div>